<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<table>
    <tr>
        <td><h1>Edit User</h1></td>
    </tr>
    <tr>
        <td><form th:method="PUT" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

            <label for="firstName">Enter name</label>
            <input type="text" th:field="${user.firstName}" id="firstName">
            <br/>
            <br/>

            <label for="lastName">Enter Last Name</label>
            <input type="text" th:field="${user.lastName}" id="lastName">
            <br/>
            <br/>

            <label for="age">Enter age</label>
            <input type="text" th:field="${user.age}" id="age">
            <br/>
            <br/>

            <label for="Username">Enter Username</label>
            <input type="text" th:field="${user.username}" id="Username">
            <br/>
            <br/>

            <label for="Password">Enter Password</label>
            <input type="text" th:field="${user.password}" id="Password">
            <br/>
            <br/>

            <table style="border: 0px; width: 100px;">
            <tr th:each="role:${roles}" style="border: 0px;">
                <td style="border: 0px;">
                    <label th:text="${role.getRole()}"></label>
                </td>
                <td style="border: 0px;">
                    <input type="checkbox" th:field="${user.roles}" th:value="${role.getId()}"/>
                </td>
            </tr>
        </table>

            <input type="submit" value="UPDATE"/>

        </form></td>
    </tr>
</table>

</body>
</html>