<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>

<table>
    <tr>
        <td colspan="5" style="text-align: center"><h1>Greeting, <span th:text="${user.getFirstName()}"></span>!</h1></td>
    </tr>
    <tr>
        <td><h2>Id</h2></td>
        <td><h2>First Name</h2></td>
        <td><h2>Last Name</h2></td>
        <td><h2>Age</h2></td>
        <td><h2>Username</h2></td>
    </tr>
    <tr>
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getFirstName()}">First Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
        <td colspan="5" style="text-align: center">
            <form th:method="GET" th:action="@{/logout}">
                <input type="submit" value="LOGOUT"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>